  html {
    display: flex;
    justify-content: center;
  }

/*Start week 1*/
  .week-1{
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 100%;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#494752, #5C5549, #F55C0A); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#494752, #5C5549, #F55C0A); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#494752, #5C5549, #F55C0A); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#494752, #5C5549, #F55C0A); /* Standard syntax */
  }

  .week-1 h1 {
    display: flex;
    font-family: 'Lato', sans-serif;
  }

  .week-1 span {
    font-family: 'Unna', serif;
  }

  .week-1 .first-part {
    margin-top: 150px;
    margin-left: 15%;
  }

  .week-1 .second-part {
    margin-top: 150px;
    margin-left: 15%;
  }

  .week-1 .third-part {
    margin-top: 150px;
    margin-left: 25%;
  }

  .fire {
    font-size: 160%;
    color: #D93F07;
  }

  .water {
    font-size: 160%;
    color: #41AFD9;
  }

/*Start week 2 */
  .week-2 {
    background: url('./images/steve-drawing.jpg') no-repeat;
    background-size: cover;
    border: 1px dotted black;
    height: 600px;
    width: 400px;
  }

  .could {
    font-weight: bolder;
    color: #F2657C;
    margin-left: 25%;
  }

  .animal {
    color: #6D3C2D;
    font-size: 150%;
  }

  .dont {
    color: #04A3A6;
    margin-left: 20%;
    width: 10px;
  }

  .hate {
    color: #F54304;
  }

  .week-2 h1 {
    margin-left: 78%;
    margin-top: 12%;
    margin-bottom: 28%;
    width: 10px;
    font-family: 'Vollkorn', serif;
  }

  .week-2 h2 {
    margin-top: 25%;

    font-family: 'Open Sans', sans-serif;
  }

  .week-2 h3 {
    margin-top: 15%;
    text-align: center;
  }

/*Start week 3*/
  .week-3 {
    position: relative;
    background-color: #284907;
    border: 1px dotted black;
    height: 600px;
    width: 400px;
  }

  .top-half {
    position: absolute;
    top: 125px;
    left: 110px;
    color: #D8CAA8;
  }

  .bottom-half {
    position: absolute;
    bottom: 250px;
    left: 115px;
    color: #D8CAA8;
  }

  .balance-line {
    position: absolute;
    bottom: 335px;
    left: 100px;
    width: 200px;
    border: 5px solid #5C832F;
  }

  .week-3 h1 {
    font-size: 15px;
    font-family: 'Noto Sans', sans-serif;
  }

  .week-3 h2 {
    font-size: 15px;
    font-family: 'Noto Sans', sans-serif;
  }

  .week-3 h3 {
    position: absolute;
    font-size: 30px;
    font-family: 'Arvo', serif;
  }

  .oscar {
    position: absolute;
    bottom: 50px;
    left: 135px;
    border: 5px solid #D8CAA8;
    padding: 5px;
    color: #D8CAA8;
  }
